#curry{
  width: 10%
}
#thompson{
  width: 10%
}
#Grenn{
  width: 10%
}
#wiggens{
  width: 10%
}
#looney{
  width: 10%
}
#center{
  width: 50%
}
#dentro{
  width: 50%
}
#goldenstate{
  width: 50%
}
#logo{
  width: 50%
}
